@import "custom";
@import "partials/vars";

@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~normalize.css/normalize.css";
@import "~simplebar/dist/simplebar.min.css";

@import "partials/arrow";
@import "partials/bottom";
@import "partials/box";
@import "partials/btn";
@import "partials/card";
@import "partials/cards";
@import "partials/cart-button";
@import "partials/catalog";
@import "partials/categories";
@import "partials/category";
@import "partials/circle";
@import "partials/coockie";
@import "partials/copyright";
@import "partials/developed-by";
@import "partials/empty-section";
@import "partials/footer";
@import "partials/footer-logo";
@import "partials/form";
@import "partials/goods";
@import "partials/hamburger";
@import "partials/header";
@import "partials/label";
@import "partials/lang-menu";
@import "partials/link-decor";
@import "partials/links-list";
@import "partials/log-in";
@import "partials/logo";
@import "partials/main-hamburger";
@import "partials/main-blur";

@import "partials/menu";
@import "partials/main-menu";

@import "partials/menu-payments";
@import "partials/menu-social";
@import "partials/mobile";
@import "partials/mobile-catalog";
@import "partials/nova-poshta";
@import "partials/payments";
@import "partials/payments-top";
@import "partials/phones";
@import "partials/phones-list";
@import "partials/pop";
@import "partials/price";
@import "partials/prices";
@import "partials/product";
@import "partials/rating";
@import "partials/recall";
@import "partials/scrollbar";
@import "partials/scroll-up";
@import "partials/section-title";
@import "partials/shop";
@import "partials/slider";
@import "partials/text";
@import "partials/text-section";
@import "partials/time";
@import "partials/top";
@import "partials/user-action";
@import "partials/user-button";
@import "partials/user-mobile-button";
@import "partials/wrapper";

html {
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}

body {
  @include family("Roboto");
  margin: 0;
  min-width: 320px;
  position: relative;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;

  @media (max-width: 1199.5px) {
    @include adaptive-value(padding-top, 120, 70);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

// * {
//   &:focus {
//     box-shadow: 0 0 5px 1px #000;
//   }
// }

.other {
  position: relative;
}

._h100 {
  height: 100%;
}

._w100 {
  width: 100%;
}

.overflow-x-auto {
  overflow-x: auto;
  overflow-y: visible;
}

.mobile-logo {
  fill: $dark-blue;
}
