@import "custom";
@import "partials/vars";

@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";
@import "~normalize.css/normalize.css";
@import "~simplebar/dist/simplebar.min.css";

@import "partials/arrow";
@import "partials/basket-popup";
@import "partials/basket-count";
@import "partials/bottom";
@import "partials/box";
@import "partials/btn";
@import "partials/card";
@import "partials/cards";
@import "partials/cart-button";
@import "partials/cart-info";
@import "partials/catalog";
@import "partials/categories";
@import "partials/category";
@import "partials/circle";
@import "partials/coockie";
@import "partials/copyright";
@import "partials/developed-by";
@import "partials/empty-section";
@import "partials/footer";
@import "partials/footer-logo";
@import "partials/form";
@import "partials/goods";
@import "partials/hamburger";
@import "partials/header";
@import "partials/label";
@import "partials/lang-menu";
@import "partials/link-decor";
@import "partials/links-list";
@import "partials/log-in";
@import "partials/logo";
@import "partials/main-hamburger";
@import "partials/main-blur";
@import "partials/main-list";
@import "partials/main-sublist";

@import "partials/menu";
@import "partials/main-menu";

@import "partials/menu-payments";
@import "partials/menu-social";
@import "partials/mobile";
@import "partials/mobile-catalog";
@import "partials/nova-poshta";
@import "partials/payments";
@import "partials/payments-top";
@import "partials/phones";
@import "partials/phones-list";
@import "partials/pop";
@import "partials/price";
@import "partials/prices";
@import "partials/product";
@import "partials/rating";
@import "partials/recall";
@import "partials/scrollbar";
@import "partials/scroll-up";
@import "partials/section-title";
@import "partials/service";
@import "partials/shop";
@import "partials/slider";
@import "partials/text";
@import "partials/text-section";
@import "partials/time";
@import "partials/top";
@import "partials/total-line";
@import "partials/underlined-link";
@import "partials/user-action";
@import "partials/user-button";
@import "partials/user-mobile-button";
@import "partials/wrapper";

html {
  overflow-x: hidden;

  &.lock {
    overflow-y: hidden;
  }
}

body {
  @include family("Roboto");
  margin: 0;
  min-width: 320px;
  position: relative;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  flex: 1;

  @media (max-width: 1199.5px) {
    @include adaptive-value(padding-top, 120, 70);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.other {
  position: relative;
}

._h100 {
  height: 100%;
}

._w100 {
  width: 100%;
}

.overflow-x-auto {
  overflow-x: auto;
  overflow-y: visible;
}

.mobile-logo {
  fill: $dark-blue;
}

.main-mobile-list {
  position: static;

  &__item {
    padding: 10px 15px 10px 10px;

    &:hover {
      .main-mobile-list__text {
        padding-left: 30px;
      }
    }
  }

  &__link {
    font-size: 20px;

    .arrow {
      margin-left: 0;
      margin-right: -10px;
    }
  }

  &__text {
    margin-right: 0;
    padding-left: 20px;
  }
}

.mobile-sublist {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 0 0 10px;
  @include adaptive-value(padding-top, 65, 15);
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.3s;

  &_opened {
    transform: translate3d(100%, 0, 0);
  }

  &__title {
    font-size: 26px;
    line-height: 1.2;
    color: $dark-blue;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
  }

  &__back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px 15px 8px 10px;
    background: $secondary-orange;

    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $secondary-grey;
    }

    .arrow {
      border-color: #fff;
    }
  }

  &__icon {
    width: 28px;
    min-width: 28px;
    height: 28px;
  }
}
