.arrow {
  border: solid $secondary-orange;
  display: inline-block;
  transition: 0.3s;

  &_down {
    transform: rotate(45deg);
  }

  &_up {
    transform: rotate(-135deg);
  }

  &_right {
    transform: rotate(-45deg);
  }

  &_left {
    transform: rotate(135deg);
  }

  &_small {
    border-width: 0 2px 2px 0;
    padding: 2px;

    @media (max-width: 1199.5px) {
      border-width: 0 3px 3px 0;
      padding: 3px;
    }
  }

  &_medium {
    border-width: 0 2px 2px 0;
    padding: 4px;
    border-color: rgba($dark-blue, 0.5);
  }

  &_big {
    border-width: 0 3px 3px 0;
    padding: 7px;
    border-color: $smoke-blue;
    margin-top: 7px;
  }

  &_pag {
    border-width: 0 2px 2px 0;
    padding: 9px;
    border-color: $smoke-blue;
  }

  &_dark {
    border-color: $dark-blue;
  }

  &:hover {
    border-color: $dark-blue;
  }
}
