.basket-popup {
  width: 100%;
  max-width: 900px;
  padding: 42px 40px 40px;

  background: #ffffff;
  box-shadow: 0px 10px 80px rgba(0, 52, 41, 0.3);
  border-radius: 10px;

  @media (max-width: 768px) {
    padding: 20px;
  }

  &__title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: $dark-blue;

    margin-bottom: 19px;
  }

  &__body {
    margin-bottom: 28px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    padding: 11px 0;
    border-top: 1px solid #ededed;
    position: relative;
    flex-wrap: wrap;

    &-aside {
      display: flex;
      align-items: center;
      padding-right: 20px;
      flex: 0;

      @media (max-width: 476px) {
        flex-basis: 100%;
        margin-bottom: 10px;
        justify-content: center;
        position: relative;
      }
    }

    &-content {
      flex: 1;

      @media (max-width: 476px) {
        flex-basis: 100%;
      }
    }

    &-remove {
      width: 15px;
      height: 15px;
      object-fit: cover;
      fill: rgba($smoke-blue, 0.5);
      margin-right: 20px;

      transition: 0.3s;
      cursor: pointer;

      &:hover {
        fill: $dark-blue;
      }

      @media (max-width: 476px) {
        width: 20px;
        height: 20px;
        margin-right: 0;

        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    &-link {
      display: inline-block;
      font-size: 18px;
      line-height: 1.2;
      color: $dark-blue;
      text-decoration: none;
      margin-bottom: 8px;
    }

    &-price {
      margin: 0 0 8px 0;
      font-size: 16px;
      line-height: 1.2;
      color: $smoke-blue;

      span {
        font-weight: 700;
        color: $dark-blue;
      }
    }

    &-inner {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &-services {
      width: 58%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-right: 20px;

      @media (max-width: 768px) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 15px;
      }
    }

    &-summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }

    &-total {
      @include adaptive-value(font-size, 24, 18);
      line-height: 1.2;
      color: $dark-blue;
      font-weight: 300;

      span {
        font-weight: 700;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;

    &-wrap {
      width: 100%;
      max-width: 120px;
      min-width: 120px;
      border-radius: 5px;

      position: relative;
      overflow: hidden;

      @media (max-width: 576px) {
        min-width: 90px;
      }

      @media (max-width: 476px) {
        max-width: 100px;
      }
    }

    &-holder {
      padding-top: 100%;
    }
  }

  &__total {
    margin-bottom: 25px;
    @include adaptive-value(font-size, 36, 24);
    line-height: 1.2;
    color: $dark-blue;
    text-align: right;
    font-weight: 300;

    span {
      font-weight: 700;
    }
  }

  &__bottom {
    &-column {
      &:not(:last-child) {
        padding-right: 10px;

        .btn {
          @media (max-width: 575.5px) {
            margin-bottom: 10px;
          }
        }
      }

      .btn {
        @media (max-width: 576px) {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }

  .fancybox-close-small {
    @media (max-width: 576px) {
      padding: 5px;
    }
  }
}
