.btn {
  display: inline-block;
  @include adaptive-value(padding-top, 19, 14);
  @include adaptive-value(padding-bottom, 19, 14);
  border: 2px solid #fff;
  background: transparent;

  color: #fff;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  position: relative;
  z-index: 2;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #fff;
    color: $primary;
  }

  &_sm {
    max-width: 188px !important;
    @include adaptive-value(padding-left, 32, 15);
    @include adaptive-value(padding-right, 32, 15);
    margin-top: 1px;
  }

  &_lg {
    display: flex;
    align-items: center;
    margin-left: -7px;
    @include adaptive-value(padding-left, 56, 20);
    @include adaptive-value(padding-right, 27, 20);
    background: linear-gradient(0deg, $primary, $primary);
    border-color: $primary;

    @media (max-width: 991.5px) {
      margin: 0 auto;
    }

    &:hover {
      background: linear-gradient(0deg, #fff, #fff);

      .btn__svg {
        fill: $primary;
      }
    }

    .btn__text {
      @include adaptive-value(margin-right, 24, 10);
    }

    .btn__svg {
      @include adaptive-value(width, 18, 14);
      @include adaptive-value(height, 18, 14);

      object-fit: cover;
      fill: #fff;

      transition: 0.3s;
    }
  }

  &_round {
    @include adaptive-value(border-radius, 70, 30);
  }

  &_rect {
    @include family("Montserrat");
    @include adaptive-value(font-size, 16, 14);
    line-height: 1.3;
    font-weight: 700;
    border-radius: 3px;
    padding: 11px 0;
    @include adaptive-value(padding-left, 28, 14);
    @include adaptive-value(padding-right, 28, 14);
  }

  &_main {
    display: inline-flex;
    align-items: center;
    padding: 13px 20px;
    background: #fff;
    border-radius: 20px 0;
    border: 2px solid $secondary-orange;

    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    color: $dark-blue;
    text-transform: none;

    &:hover {
      background: $green;
      color: #fff;
      border-color: $green;

      .btn__svg {
        fill: #fff;
      }
    }

    .btn__svg {
      width: 30px;
      height: 30px;
      object-fit: cover;
      fill: $dark-blue;
      margin-left: 16px;

      transition: 0.3s;
    }
  }
}
