.cart-button {
  @media (max-width: 1199.5px) {
    margin-right: 10px !important;
  }

  @media (max-width: 450px) {
    .user-button__body {
      padding: 10px 15px;
    }
  }

  &__body {
    width: 100%;
    z-index: 1;
  }
}
