.cart-info {
  width: 338px;
  padding: 30px;
  background: #fff;
  box-shadow: 0px 10px 80px rgba(0, 52, 41, 0.3);
  border-radius: 20px;

  position: absolute;
  top: 139%;
  right: 0;
  z-index: 0;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 1199.5px) {
    display: none;
  }

  &__top {
    margin-bottom: 40px;
  }

  &__text {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    color: $smoke-blue;

    &_bold {
      font-weight: 700;
      color: $dark-blue;
    }
  }

  &__btn {
    margin-bottom: 30px;
  }

  &__triangle {
    width: 100px;
    fill: #fff;
    position: absolute;
    top: -32%;
    right: -6%;
    z-index: -1;
  }
}
