.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-orange;
  border-radius: 10px 0 0 0;
  padding: 5% 6% 5% 5%;
  max-height: 60px;
  position: relative;

  &__action {
    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover {
      .hamburger {
        &.active {
          .hamburger__line {
            &:not(:nth-child(2)) {
              fill: $dark-blue;
            }
          }
        }

        &:not(.active) {
          .hamburger__line {
            fill: $dark-blue;
          }
        }
      }

      .catalog__text {
        color: $dark-blue;
      }
    }
  }

  &__text {
    @include adaptive-value(font-size, 24, 16);
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
    transition: color 0.3s;
    letter-spacing: 1px;
  }

  &__link {
    display: inline-block;
    padding: 3px 3px 0 0;

    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;

    &::before {
      width: 95%;
      background: rgba(#fff, 0.5);
      transition: 0.3s;
    }

    &:hover {
      color: $dark-blue;

      &::before {
        background: $dark-blue;
      }
    }
  }
}
