.checkbox {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  padding: 5px 0 5px 30px;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    background-color: rgba($light-grey, 0.5);

    .checkbox__text {
      color: $green;
    }

    .checkbox__style {
      border-color: $green;
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);

    &:checked + .checkbox__style {
      border-color: $green;
      background: $green;

      &::before {
        opacity: 1;
        visibility: visible;
      }
    }

    &:checked ~ .checkbox__text {
      color: $green;
    }
  }

  &__style {
    width: 20px;
    height: 20px;
    border: 1px solid $light-grey;
    background: #fff;
    border-radius: 2px;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.3s;

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 11px;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNSAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMDcyOTEgOS44NzcxNUwxMy4yNzQ1IDAuODc1TDE0LjM1NzMgMS44NjE0OEw1LjE0ODA5IDExLjk2OTZMMC4xMjc2ODYgNy4xOTcwNkwxLjEzNzA1IDYuMTM1MzlMNS4wNzI5MSA5Ljg3NzE1WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
      background-size: cover;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
    }
  }

  &__text {
    color: $smoke-blue;
    transition: 0.3s;
  }
}
