.developed-by {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(#fff, 0.5);
  text-decoration: none;
  transition: color 0.3s;

  @media (max-width: 768px) {
    text-align: right;
  }

  &:hover {
    color: #fff;
  }
}
