.footer-logo {
  display: block;
  @include adaptive-value(margin-bottom, 40, 15);
  padding: 1px 0 0 2px;

  svg {
    @include adaptive-value(width, 114, 80);
    fill: #fff;
  }

  @media (max-width: 991.5px) {
    margin: 0 30px 0 0;
  }
}
