.form {
  width: 100%;
  position: relative;

  &__search {
    width: 100%;
    @include adaptive-value(padding-top, 16, 9);
    @include adaptive-value(padding-left, 20, 10);
    @include adaptive-value(padding-bottom, 16, 9);
    padding-right: 25px;

    background: #dde8f0;
    border: none;
    border-radius: 10px;

    @include adaptive-value(font-size, 16, 13);
    line-height: 1.2;
    color: $dark-blue;
    
    transition: 0.3s;

    &::placeholder {
      color: rgba($dark-blue, 0.7);
    }

    &:focus {
      box-shadow: 0 0 5px 1px rgba(#000, 0.2);
    }
  }

  &__submit {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 50%;
    right: 1.6%;
    transform: translateY(-50%);
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: $dark-blue;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
      fill: $secondary-orange;
    }
  }
}
