.hamburger {
  margin-right: 20px;

  &__line {
    transition: 0.3s;
    fill: #fff;
  }

  &.active {
    .hamburger__line-2 {
      fill: rgba(#fff, 0);
    }

    .hamburger__line-1 {
      transform: translate(20%, 5%) rotate(45deg);
    }

    .hamburger__line-3 {
      transform: translate(-40%, 25%) rotate(-45deg);
    }
  }
}
