.hamburger {
  width: 25px;
  height: 22px;
  margin-right: 20px;

  position: relative;
  cursor: pointer;

  &__body {
    width: 18px;
    height: 3px;
    background: rgba(255, 255, 255, 1);
    border-radius: 18px;

    position: relative;
    transform: translateY(11px);
    transition: background 0.3s;

    &.animate {
      background: rgba(255, 255, 255, 0);

      &::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background 0.3s;
      }

      &::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background 0.3s;
      }
    }

    &::before,
    &::after {
      content: "";
      width: 25px;
      height: 3px;
      border-radius: 18px;
      background: rgba(255, 255, 255, 1);

      position: absolute;
      left: 0;
    }

    &::before {
      bottom: 10px;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background 0.3s;
    }

    &::after {
      top: 10px;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background 0.3s;
    }
  }
}
