.links-list {
  max-width: 246px;

  @media (max-width: 450px) {
    max-width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;

    &.active {
      .arrow-down {
        transform: rotate(-135deg);
        margin-top: 3px;
      }
    }

    @media (max-width: 450px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: 450px) {
      display: none;
      padding-bottom: 15px;
    }
  }

  &__header {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $secondary-orange;
    }

    @media (max-width: 450px) {
      font-size: 22px;
    }
  }

  &__item {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 1.3;
    color: rgba(#fff, 0.5);
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;

    transition: color 0.3s;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      line-height: 1.6;
    }

    @media (max-width: 450px) {
      font-size: 18px;
    }

    &_big {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 13px;

      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 1.5;
      }

      @media (max-width: 450px) {
        font-size: 24px;
      }
    }

    &_medium {
      font-size: 18px;
      line-height: 21px;

      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 1.5;
      }

      @media (max-width: 450px) {
        font-size: 20px;
      }
    }
  }

  .arrow {
    display: none;

    @media (max-width: 450px) {
      display: block;
      border-color: #fff;
    }

    &:hover {
      border-color: $secondary-orange;
    }
  }
}
