.logo {
  width: 114px;
  height: 41px;
  object-fit: cover;
  fill: $blue;
  transition: fill 0.3s;

  @media (max-width: 768px) {
    width: 80px;
    fill: #fff;
  }

  &:hover {
    fill: $secondary-orange;
  }
}
