.main-list {
  width: 100%;
  background: #fff;
  padding: 5px 8px 9px 5px;

  position: absolute;
  top: 100%;
  left: -400%;
  transition: 0.3s;

  &_shadow {
    box-shadow: 0 4px 4px 0 rgba(#000, 0.25);
  }

  &_rounded {
    border-radius: 0 0 10px 10px;

    &.active {
      border-radius: 0 0 0 10px;
    }
  }

  &.active {
    transform: translateX(400%);
  }

  &__body {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 8px 9px 8px 5px;
    transition: 0.3s;
    cursor: pointer;
    position: static;
    transition: background 0.3s;

    &:hover {
      background: $light-grey;

      .main-list__link {
        color: $dark-blue;
      }
    }

    &_bordered {
      border-bottom: 1px solid $secondary-grey;

      &:first-child {
        border-top: 1px solid $secondary-grey;
      }
    }

    &_rounded {
      border-radius: 10px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;
    color: $smoke-blue;
    font-weight: 500;
    text-decoration: none;
    word-break: break-all;
    transition: color 0.3s;

    .arrow {
      margin-left: auto;
    }
  }

  &__icon {
    width: 34px;
    height: 34px;
    object-fit: cover;
    margin-right: 15px;
  }

  &__text {
    margin-right: 10px;
    transition: 0.3s;
  }
}
