.menu-payments {
  display: flex;
  margin-top: -2px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 31px;
    background: $light-grey;
    border-radius: 3px;
    opacity: 0.5;
    transition: opacity 0.3s;

    &:not(:last-child) {
      margin-right: 6px;
    }

    &:last-child {
      svg {
        height: 45px;
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    width: 90%;
    height: 30px;
    object-fit: cover;
  }
}
