.menu {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    margin-right: 10px;

    &.active {
      .menu__link {
        color: $dark-blue;

        &::before {
          width: 100%;
          background: $dark-blue;
        }
      }
    }

    &:not(:last-child) {
      &::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #dde8f0;
      }
    }
  }

  &__link {
    margin-right: 10px;

    font-size: 14px;
    line-height: 1.7;
    font-weight: 700;
    color: $smoke-blue;
    text-decoration: none;

    transition: 0.3s;

    &_dark {
      color: $dark-blue;
    }

    &::before {
      width: 0;
    }

    @media (max-width: 1199.5px) {
      font-size: 20px;
    }
  }

  @media (max-width: 1199.5px) {
    margin-bottom: 10px;
  }
}
