.mobile {
  width: 320px;
  height: 100%;
  background: #fff;
  padding: 0 10px 10px;
  @include adaptive-value(padding-top, 120, 70);

  overflow-x: hidden;
  overflow-y: auto;

  position: fixed;
  bottom: 0;
  left: -320px;
  z-index: 98;
  transition: 0.3s;

  &.active {
    transform: translateX(100%);
  }
}