.mobile {
  width: 320px;
  height: calc(100% - 54px);
  background: #fff;
  padding: 0 0 10px;
  @include adaptive-value(padding-top, 65, 15);

  overflow-x: hidden;
  overflow-y: auto;

  position: fixed;
  bottom: 0;
  left: -320px;
  z-index: 98;
  transition: 0.3s;

  &.active {
    transform: translateX(100%);
  }

  &__column {
    position: static;
  }
}
