.nova-poshta {
  display: block;
  @include adaptive-value(margin-right, 57, 20);
  opacity: 0.5;
  transition: opacity 0.3s;

  &__icon {
    width: 86px;
    height: 30px;
    object-fit: cover;
    fill: $light-grey;
  }

  &:hover {
    opacity: 1;
  }

  @media (max-width: 576px) {
    margin: 0 0 10px;
  }
}
