.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;

    @media (max-width: 576px) {
    }
  }

  &__item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 1px solid $light-grey;
    border-radius: 10px;

    font-size: 18px;
    line-height: 1.2;
    color: $smoke-blue;

    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;

    @media (max-width: 576px) {
      width: 35px;
      height: 35px;
      margin: 0 7px;

      font-size: 16px;
    }

    &.active {
      border-width: 2px;
      border-color: $smoke-mint;
      color: $dark-blue;
    }

    &:hover {
      background: rgba(#000, 0.02);
      border-color: $smoke-blue;
    }
  }

  &__arrow {
    width: 15px;
    height: 30px;
    cursor: pointer;

    @media (max-width: 576px) {
      width: 12px;
      height: 25px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: $dark-blue;
    transition: 0.3s;

    &:hover {
      fill: $smoke-mint;
    }
  }
}
