.phones {
  position: relative;
  padding: 0 5px 0 10px;

  &__top {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active {
      .arrow-down {
        transform: rotate(-135deg);
        margin-top: 3px;
      }
    }
  }

  &__body {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    box-shadow: 4px 4px 6px -4px #ccc, -4px 4px 6px -4px #ccc;
    padding: 10px 5px 10px 10px;
    z-index: 2;

    position: absolute;
    top: 110%;
    left: 0;

    &-text {
      &:not(:last-child) {
        padding-bottom: 10px;
      }
    }

    @media (max-width: 1199.5px) {
      position: static;
      padding: 10px 0 0;
      box-shadow: none;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.2;
    color: $dark-blue;
    font-weight: 700;
    margin-right: 14px;
    text-decoration: none;

    transition: color 0.3s;

    &:hover {
      color: $secondary-orange;
    }

    @media (max-width: 1199.5px) {
      font-size: 20px;
      margin-right: 25px;
    }
  }

  @media (max-width: 1199.5px) {
    padding-left: 0;
  }
}
