.pop {
  @include adaptive-value(width, 840, 300);
  @include adaptive-value(height, 944, 300);
  object-fit: cover;
  
  position: absolute;
  left: 40%;
  @include adaptive-value(top, -450, -130);
  transform: translateX(-42%);
  z-index: 0;

  @media (max-width: 768px) {
    left: 30%;
  }
}
