.pop {
  @include adaptive-value(width, 841, 300);
  @include adaptive-value(height, 944, 300);
  object-fit: cover;

  position: absolute;
  left: 41%;
  @include adaptive-value(top, -479, -130);
  transform: translateX(calc(-43% + 1px));
  z-index: 0;

  @media (max-width: 768px) {
    left: 30%;
  }
}
