.price {
  max-width: 100%;

  @include family("Commissioner");
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 576px) {
    font-size: 16px;
  }

  span {
    font-size: 16px;
    line-height: 20px;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
}
