.prices {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
  transition: 0.3s;
  overflow: hidden;

  &__old {
    position: relative;

    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $secondary-grey;

    @media (max-width: 576px) {
      font-size: 14px;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: $red;

      position: absolute;
      top: 57%;
      left: 0;
      transform: translateY(-50%);
    }

    span {
      font-size: 13px;
      line-height: 16px;

      @media (max-width: 576px) {
      font-size: 12px;
      }
    }
  }

  &__new {
    color: $red;

    span {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
