.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 435px;
  margin: 0 auto;
  height: 100%;
  @include adaptive-value(padding-top, 20, 10);
  @include adaptive-value(padding-left, 20, 10);
  @include adaptive-value(padding-right, 20, 10);
  border: 1px solid #f1f1f1;
  position: relative;
  transition: 0.3s;

  @media (min-width: 992px) {
    &:hover {
      box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);

      .product__buy {
        background-color: #52aa50;
        margin-right: 17px;

        span {
          display: inline-block;
          opacity: 1;
          visibility: visible;
          order: 1;
          padding-left: 10px;
        }

        svg {
          fill: #fff;
          order: 0;
        }
      }
    }
  }

  @media (max-width: 991.5px) {
    padding-bottom: 5px;
  }

  &__wrap {
    position: relative;
    margin-bottom: 17px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 396px;
    max-height: 394px;
    margin: 0 auto;
    border-radius: 50%;
  }

  &__gift {
    width: 21px;
    height: 20px;
    object-fit: cover;

    position: absolute;
    left: 1px;
    bottom: 1px;
  }

  &__actions {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: -1px;
    right: -1px;

    svg {
      width: 21px;
      height: 20px;
      object-fit: cover;
      cursor: pointer;

      transition: fill 0.3s;

      &:nth-child(1) {
        @include adaptive-value(margin-bottom, 16, 10);
      }

      &:nth-child(2) {
        @include adaptive-value(margin-bottom, 17, 10);
      }

      &:hover {
        fill: $primary;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 7px;

    @include family("Montserrat");
    line-height: 20px;
    color: #000;
    text-decoration: none;

    transition: color 0.3s;

    &:hover {
      color: $primary;
    }

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  &__top {
    margin-bottom: 15px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: -18px;
    position: relative;

    @media (max-width: 991.5px) {
      margin-right: 0;

      .prices {
        margin-bottom: 0;
      }
    }
  }

  &__buy {
    display: flex;
    align-items: center;
    padding: 10px 0;
    @include adaptive-value(padding-right, 15, 10);
    @include adaptive-value(padding-left, 15, 10);

    background-color: transparent;
    border: none;
    border-radius: 3px;

    @include family("Commissioner");
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;

    cursor: pointer;
    transition: 0.3s;

    @media (max-width: 991.5px) {
      background-color: #52aa50;
      padding: 9px 14px;
      border: 1px solid #52aa50;

      &:hover {
        background-color: #fff;

        .product__buy-icon {
          fill: #52aa50;
        }
      }

      span {
        display: none;
      }
    }

    &-text {
      order: 0;
      opacity: 0;
      visibility: hidden;
      transition: order 0.3s, opacity 0.3s, padding 0.3s;
    }

    &-icon {
      width: 20px;
      height: 20px;
      object-fit: cover;
      fill: #000;
      order: 1;
      transition: 0.3s;

      @media (max-width: 991.5px) {
        fill: #fff;
      }
    }
  }
}
