.recall {
  @include adaptive-value(padding-bottom, 141, 34);

  &__inner {
    max-width: 370px !important;
    margin: 0 auto;

    position: relative;

    span {
      @include adaptive-value(font-size, 15, 13);
    }
  }
}
