.simplebar {
  &-track {
    background: rgba(#000, 0.1);
    border-radius: 3px;
    opacity: 1 !important;
  }

  &-horizontal {
    width: 95% !important;
    max-width: 1188px !important;
    height: 4px !important;

    left: 50% !important;
    transform: translateX(-50%);

    .simplebar-scrollbar {
      height: 4px !important;
      background: #000;
      border-radius: 3px;

      top: 0 !important;
    }
  }

  &-scrollbar {
    &::before {
      opacity: 1 !important;
    }
  }
}
