.underlined-link {
  display: inline-block;
  padding-bottom: 4px;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  color: $dark-blue;
  text-decoration: none;

  position: relative;
  transition: 0.3s;

  &:hover {
    color: $green;

    &::after {
      background: $green;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba($smoke-blue, 0.5);
    transition: 0.3s;

    position: absolute;
    bottom: 0;
    left: 0;
  }
}
