.user-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &:nth-child(3) {
    .user-button__body {
      border-width: 2px;
      border-radius: 0 10px 0 0;
    }
  }

  &:not(:nth-child(3)) {
    .user-button__body {
      &:hover {
        box-shadow: 2px 0px 0px 0px $green;
        z-index: 1;
      }
    }
  }

  &__body {
    max-width: 90px;
    padding: 14px 30px 8px;
    border: solid #ffcb6d;
    border-width: 2px 0 2px 2px;

    position: relative;
    transition: 0.3s;
    cursor: pointer;

    @media (max-width: 1199.5px) {
      border-color: #fff;
    }

    &:hover {
      background: $green;
      border-color: $green !important;

      .user-button__icon {
        fill: #fff;
      }

      .user-button__cloud {
        border-color: #fff;
        background: #fff;
      }
    }
  }

  &__icon {
    @include adaptive-value(width, 30, 20);
    @include adaptive-value(height, 30, 20);
    object-fit: cover;
    fill: $dark-blue;
    transition: fill 0.3s;
  }

  &__cloud {
    background: $secondary-orange;
    border-radius: 18px;
    @include adaptive-value(padding-right, 8, 4);
    @include adaptive-value(padding-left, 7, 3);
    border: 2px solid $secondary-orange;

    @include adaptive-value(font-size, 15, 12);
    line-height: 1.2;
    font-weight: 700;
    color: $dark-blue;
    letter-spacing: 1px;
    text-transform: uppercase;

    position: absolute;
    top: 9%;
    right: 8%;
    transition: 0.3s;

    &.hidden {
      display: none;
    }

    @media (max-width: 1300px) {
      right: 12%;
    }

    @media (max-width: 1199.5px) {
      border-color: $dark-blue;
      @include adaptive-value(padding-right, 8, 3);
      @include adaptive-value(padding-left, 8, 4);
    }
  }
}
