.user-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90px;

  border: solid #ffcb6d;
  border-width: 2px 0 2px 2px;

  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;

  @media (max-width: 1199.5px) {
    border-color: #fff;
  }

  &:nth-child(3) {
    border-width: 2px;
    border-radius: 0 10px 0 0;
  }

  &:hover {
    background: #ffcb6d;

    .user-button__icon {
      fill: #fff;
    }

    .user-button__cloud {
      border-color: #fff;
      color: #fff;
      background: #ffcb6d;

      @media (max-width: 1200px) {
        border-color: #fff;
      }
    }
  }

  &__body {
    position: relative;
    padding: 14px 30px 8px;
  }

  &__icon {
    @include adaptive-value(width, 30, 20);
    @include adaptive-value(height, 30, 20);
    object-fit: cover;
    fill: $dark-blue;
    transition: fill 0.3s;
  }

  &__cloud {
    background: $secondary-orange;
    border-radius: 18px;
    @include adaptive-value(padding-right, 8, 4);
    @include adaptive-value(padding-left, 7, 3);
    border: 2px solid $secondary-orange;

    @include adaptive-value(font-size, 15, 12);
    line-height: 1.2;
    font-weight: 700;
    color: $dark-blue;
    letter-spacing: 1px;
    text-transform: uppercase;

    position: absolute;
    top: 9%;
    right: 8%;
    transition: 0.3s;

    @media (max-width: 1300px) {
      right: 12%;
    }

    @media (max-width: 1199.5px) {
      border-color: $dark-blue;
      @include adaptive-value(padding-right, 8, 3);
    @include adaptive-value(padding-left, 8, 4);
    }

    @media (max-width: 576px) {
      right: 23%;
    }
  }
}
