.user-mobile-button {
  &:last-child {
    .user-button__body {
      @media (max-width: 1199.5px) {
        border-width: 2px;
        box-shadow: none !important;
      }
    }
  }

  .user-button__body {
    @media (max-width: 1199.5px) {
      border-color: $secondary-orange;
    }
  }

  svg {
    width: 25px;
    height: 25px;
  }
}
