.user-action {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: $dark-blue;
  text-decoration: none;
  transition: color 0.3s;

  &__text {
    margin-right: 12px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    fill: $secondary-orange;
    transition: fill 0.3s;

    @media (max-width: 1200px) {
      fill: $dark-blue;
    }
  }

  &:hover {
    color: $secondary-orange;

    @media (max-width: 1199.5px) {
      color: #fff;

      .user-action__icon {
        fill: #fff;
      }
    }
  }
}
